#search {
	text-align: center;
	margin-top: 50px;
}

#search-img {
	margin-bottom: 40px;
}

#search-img img {
	box-shadow: 0 0 0 6px #fff, 0 0 0 12px #888;
	border-radius: 8px;
}

#search-input {
	width: 40%;
	margin: auto;
}
