#search {
	text-align: center;
	margin-top: 50px;
}

#search-img {
	margin-bottom: 40px;
}

#search-img img {
	box-shadow: 0 0 0 6px #fff, 0 0 0 12px #888;
	border-radius: 8px;
}

#search-input {
	margin: auto;
}

.twitter-typeahead {
  width: 40%;
}

.tt-hint {
  color: #999999;
}

.tt-menu {
  width: 100%;
  margin: 8px 0;
  padding: 3px 0;
  background-color: white;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
}

.tt-suggestion:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
}
