/* border box */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "Source Han Sans CN", sans-serif;
    margin: 0;
    padding: 0 100px;
    background-color: #f3f3f3;
    height: 100%;
    font-size: 18px;
    line-height: 1.65em;

    width: 100%;
    overflow-x: scroll;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
    color: #4A90E2;
    margin: 0.6em 0;
}

a {
    cursor: pointer;
}

.error,
.info {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #777;
}
.error {
    border: 1px solid #E8B74E;
    background-color: #FFFAD5;
}
.info {
    border: 1px solid #3CA935;
    background-color: #EBFFEA;
}

#content {
    height: 100%;
    width: 600px;
}

div.fullheight {
    height: 100%;
}

article {
    width: 400px;
    float: left;
    background-color: #fffaea;
    border-left: 1px solid #ccc;
    height: 100%;
    padding: 10px 30px;
    overflow: scroll;
    position: relative;
}

article:last-child {
    width: 600px;
    background-color: white;
    border-right: 1px solid #ccc;
    font-size: 20px;
    line-height: 1.65em;
}

article > div {
    position: relative;
}

a.close {
    position: absolute;
    right: 24px;
    top: 24px;
}

.draft {
    margin-bottom: 16px;
}

.edit {
    position: absolute;
    left: -15px;
    color: #F5A623 !important;
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.5;
}
.edit:hover {
    opacity: 1;
}

.reference-list {
    list-style-type: square;
    list-style-position: inside;
    color: #F5A623;
    margin-left: 4px;
}

.reference {
    font-size: 1.2em;
    line-height: 1.7em;
    font-weight: bold;
    color: #F5A623;
    text-decoration: none;
    margin-left: 8px;
}

.reference:hover {
    color: #F8C744;
}

.logic {
    cursor: help;
}

.remove-reference {
    color: #F5A623 !important;
    font-size: 0.7em;
    text-decoration: none;
    opacity: 0.5;
}
.remove-reference:hover {
    opacity: 1;
}

.add-reference {
    margin-bottom: 20px;
}

.question-list {
    list-style-type: none;
}

.question-list > li {
    margin-bottom: 8px;
}

.question {
    font-size: 20px;
    font-weight: bold;
    color: #F5A623;
    text-decoration: none;
}
.question:hover {
    color: #F8C744;
}

.question.new {
    opacity: 0.5;
}
.question.new:hover {
    opacity: 1;
}

p {
    margin-left: 20px;
}

/* Bootstrap modifications */

.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
